{% extends 'a_base.html' %}
{% load static %}
{% block title %}
<link rel="stylesheet" href="{% static 'users.css' %}">
<title>Manage Users - GRO EVENTS MANAGEMENT STYSTEM</title>

{% endblock %}


{% block content %}
<a style="margin: 10px 0 0 202px;" href="/register_user" class="btn btn-block btn-primary">Add User</a>
<table class="table table-sm bg-light" style="margin: 10px 0 0 202px;">
    <thead>
        
      <tr>
       
        <th scope="col">#</th>
        <th scope="col">First</th>
        <th scope="col">Last</th>
        <th scope="col">Email</th>
        <th scope="col">Username</th>
        <th scope="col">Active</th>
        <th scope="col">Admin</th>
        <th scope="col">Last Login</th>
        <th scope="col">Date Joined</th>
        <th scope="col">Actions</th>
      </tr>
    </thead>
    <tbody>
        {% for user in all_users %}
        <tr>
            <th scope="row">{{ forloop.counter }}</th>
            <td>{{ user.first_name }}</td>
            <td>{{ user.last_name }}</td>
            <td>{{ user.email }}</td>
            <td>{{ user.username }}</td>
            <td>{{ user.is_active }}</td>
            <td>{{ user.is_staff }}</td>
            <td>{{ user.last_login }}</td>
            <td>{{ user.date_joined }}</td>
            <td>
                <!-- Add action buttons or links here -->
            </td>
        </tr>
        {% empty %}
        <tr>
            <td colspan="10">No users found.</td>
        </tr>
        {% endfor %}
      
    </tbody>
  </table>

{% endblock %}