{% load static %}
<!DOCTYPE html>
<html>
<head>
  <link rel="icon" type="image/x-icon" href="{% static 'IMAGES/LOGO.png' %}">
  {% block title %}
    
  {% endblock %}
  {% load bootstrap5 %}
  {% bootstrap_css %}
  {% bootstrap_javascript %}
</head>
<body>
  {% for message in messages %}
    <div id='messages_to_be_deleted' class="alert alert-{{ message.tags }} alert-dismissible fade show mt-1" role="alert">
        <strong>Message:</strong> {{ message }}
        <button type="button" class="close" data-dismiss="alert" aria-label="Close">
        <span aria-hidden="true">&times;</span>
        </button>
    </div>
    {% endfor %}
{% block content %}
{% endblock %}
</body>
</html>