

{% if user.is_authenticated %}
<header>
    <a href=""><img src="{% static 'IMAGES/LOGO.png' %}" alt="Logo" class="logo"></a>
    <div class="toggle" onclick="toggleMenu();"></div>
    <ul class="navigation">
        <li><a href="/" >Home</a></li>
        <li><a href="/logout">Logout</a></li>
        
    </ul>
</header>
{% else %}

<header>
    <a href=""><img src="{% static 'IMAGES/LOGO.png' %}" alt="Logo" class="logo"></a>
    <div class="toggle" onclick="toggleMenu();"></div>
    <ul class="navigation">
        <li><a href="/" >Home</a></li>
        <li><a href="/login">Login</a></li>
        
    </ul>
</header>

{% endif %}