{% extends 'a_base.html' %}
{% load static %}
{% block title %}
<link rel="stylesheet" href="{% static 'users.css' %}">
<title>Register Event - GRO EVENTS MANAGEMENT STYSTEM</title>

{% endblock %}


{% block content %}
<div class="container" style="margin: 10px 202px;">
    <h2 class="my-4">Register New Event</h2>
    
    <form method="POST" action="{% url 'create_event' %}">
        {% csrf_token %}

        <div class="row">
            <!-- Event Details -->
            <div class="col-md-6">
                <div class="mb-3">
                    <label for="name" class="form-label">Event Name</label>
                    <input type="text" class="form-control" name="name" required>
                </div>

                <div class="mb-3">
                    <label for="date_of_event" class="form-label">Date of Event</label>
                    <input type="date" class="form-control" name="date_of_event" required>
                </div>

                <div class="mb-3">
                    <label for="place_of_event" class="form-label">Place of Event</label>
                    <input type="text" class="form-control" name="place_of_event" required>
                </div>

                <div class="mb-3">
                    <label for="field_event_manager" class="form-label">Field Event Manager</label>
                    <input type="text" class="form-control" name="field_event_manager" required>
                </div>

                <div class="mb-3">
                    <label for="luncheon_event_manager" class="form-label">Luncheon Event Manager</label>
                    <input type="text" class="form-control" name="luncheon_event_manager" required>
                </div>

                <div class="mb-3">
                    <label for="field_card_font_type" class="form-label">Sitting Arrangement Format</label>
                    <select class="form-control" name="sitting_format_list">
                        {% for i in sitting_format_list %}
                        <option value="{{i.id}}">{{i.name}}</option>
                        {% endfor %}
                    </select>
                </div>

                <h4>Field Card</h4>
                <div class="mb-3">
                    <label for="field_card_cordinate_x" class="form-label">Field Card X Coordinate</label>
                    <input type="text" class="form-control" name="field_card_cordinate_x" required>
                </div>

                <div class="mb-3">
                    <label for="field_card_cordinate_y" class="form-label">Field Card Y Coordinate</label>
                    <input type="text" class="form-control" name="field_card_cordinate_y" required>
                </div>

                <div class="mb-3">
                    <label for="field_card_font_type" class="form-label">Field Card Font Type</label>
                    <select class="form-control" name="field_card_font_type">
                            <option value="Arial">Arial</option>
                            <option value="Helvetica">Helvetica</option>
                            <option value="Times New Roman">Times New Roman</option>
                            <option value="Courier New">Courier New</option>
                            <option value="Verdana">Verdana</option>
                            <option value="Georgia">Georgia</option>
                            <option value="Palatino">Palatino</option>
                            <option value="Garamond">Garamond</option>
                            <option value="Bookman">Bookman</option>
                            <option value="Comic Sans MS">Comic Sans MS</option>
                            <option value="Trebuchet MS">Trebuchet MS</option>
                            <option value="Arial Black">Arial Black</option>
                            <option value="Impact">Impact</option>
                            <option value="Lucida Sans Unicode">Lucida Sans Unicode</option>
                            <option value="Tahoma">Tahoma</option>
                            <option value="Century Gothic">Century Gothic</option>
                            <option value="Franklin Gothic Medium">Franklin Gothic Medium</option>
                            <option value="Gill Sans">Gill Sans</option>
                            <option value="Lucida Bright">Lucida Bright</option>
                            <option value="Arial Narrow">Arial Narrow</option>
                            <option value="Candara">Candara</option>
                            <option value="Perpetua">Perpetua</option>
                            <option value="Book Antiqua">Book Antiqua</option>
                            <option value="Consolas">Consolas</option>
                            <option value="Monaco">Monaco</option>
                    </select>
                    
                </div>

                <div class="mb-3">
                    <label for="field_card_font_size" class="form-label">Field Card Font Size</label>
                    <input type="number" class="form-control" name="field_card_font_size" required >
                </div>
            </div>

            <!-- Field Card Details -->
            <div class="col-md-6">
                

                <!-- Luncheon Card Details -->
                <h4>Luncheon Card</h4>
                <div class="mb-3">
                    <label for="luncheon_card_cordinate_x" class="form-label">Luncheon Card X Coordinate</label>
                    <input type="text" class="form-control" name="luncheon_card_cordinate_x" required>
                </div>

                <div class="mb-3">
                    <label for="luncheon_card_cordinate_y" class="form-label">Luncheon Card Y Coordinate</label>
                    <input type="text" class="form-control" name="luncheon_card_cordinate_y" required>
                </div>

                <div class="mb-3">
                    <label for="luncheon_card_font_type" class="form-label">Luncheon Card Font Type</label>

                    <option value="Arial">Arial</option>
                    <select class="form-control" name="luncheon_card_font_type" >

                            <option value="Helvetica">Helvetica</option>
                            <option value="Times New Roman">Times New Roman</option>
                            <option value="Courier New">Courier New</option>
                            <option value="Verdana">Verdana</option>
                            <option value="Georgia">Georgia</option>
                            <option value="Palatino">Palatino</option>
                            <option value="Garamond">Garamond</option>
                            <option value="Bookman">Bookman</option>
                            <option value="Comic Sans MS">Comic Sans MS</option>
                            <option value="Trebuchet MS">Trebuchet MS</option>
                            <option value="Arial Black">Arial Black</option>
                            <option value="Impact">Impact</option>
                            <option value="Lucida Sans Unicode">Lucida Sans Unicode</option>
                            <option value="Tahoma">Tahoma</option>
                            <option value="Century Gothic">Century Gothic</option>
                            <option value="Franklin Gothic Medium">Franklin Gothic Medium</option>
                            <option value="Gill Sans">Gill Sans</option>
                            <option value="Lucida Bright">Lucida Bright</option>
                            <option value="Arial Narrow">Arial Narrow</option>
                            <option value="Candara">Candara</option>
                            <option value="Perpetua">Perpetua</option>
                            <option value="Book Antiqua">Book Antiqua</option>
                            <option value="Consolas">Consolas</option>
                            <option value="Monaco">Monaco</option>
                        </select>
                </div>

                <div class="mb-3">
                    <label for="luncheon_card_font_size" class="form-label">Luncheon Card Font Size</label>
                    <input type="number" class="form-control" name="luncheon_card_font_size" required>
                </div>

                <!-- Field Envelope Card Details -->
                <h4>Field Envelope Card</h4>
                <div class="mb-3">
                    <label for="field_envelope_card_cordinate_x" class="form-label">Field Envelope Card X Coordinate</label>
                    <input type="text" class="form-control" name="field_envelope_card_cordinate_x" required>
                </div>

                <div class="mb-3">
                    <label for="field_envelope_card_cordinate_y" class="form-label">Field Envelope Card Y Coordinate</label>
                    <input type="text" class="form-control" name="field_envelope_card_cordinate_y" required>
                </div>

                <div class="mb-3">
                    <label for="field_envelope_card_font_type" class="form-label">Field Envelope Card Font Type</label>
                    <select class="form-control" name="field_envelope_card_font_type">
                    <option value="Helvetica">Helvetica</option>
                            <option value="Times New Roman">Times New Roman</option>
                            <option value="Courier New">Courier New</option>
                            <option value="Verdana">Verdana</option>
                            <option value="Georgia">Georgia</option>
                            <option value="Palatino">Palatino</option>
                            <option value="Garamond">Garamond</option>
                            <option value="Bookman">Bookman</option>
                            <option value="Comic Sans MS">Comic Sans MS</option>
                            <option value="Trebuchet MS">Trebuchet MS</option>
                            <option value="Arial Black">Arial Black</option>
                            <option value="Impact">Impact</option>
                            <option value="Lucida Sans Unicode">Lucida Sans Unicode</option>
                            <option value="Tahoma">Tahoma</option>
                            <option value="Century Gothic">Century Gothic</option>
                            <option value="Franklin Gothic Medium">Franklin Gothic Medium</option>
                            <option value="Gill Sans">Gill Sans</option>
                            <option value="Lucida Bright">Lucida Bright</option>
                            <option value="Arial Narrow">Arial Narrow</option>
                            <option value="Candara">Candara</option>
                            <option value="Perpetua">Perpetua</option>
                            <option value="Book Antiqua">Book Antiqua</option>
                            <option value="Consolas">Consolas</option>
                            <option value="Monaco">Monaco</option>
                        </select>
                </div>

                <div class="mb-3">
                    <label for="field_envelope_card_font_size" class="form-label">Field Envelope Card Font Size</label>
                    <input type="number" class="form-control" name="field_envelope_card_font_size" required>
                </div>

                <!-- Luncheon Envelope Card Details -->
                <h4>Luncheon Envelope Card</h4>
                <div class="mb-3">
                    <label for="luncheon_envelope_card_cordinate_x" class="form-label">Luncheon Envelope Card X Coordinate</label>
                    <input type="text" class="form-control" name="luncheon_envelope_card_cordinate_x" required>
                </div>

                <div class="mb-3">
                    <label for="luncheon_envelope_card_cordinate_y" class="form-label">Luncheon Envelope Card Y Coordinate</label>
                    <input type="text" class="form-control" name="luncheon_envelope_card_cordinate_y" required>
                </div>

                <div class="mb-3">
                    <label for="luncheon_envelope_card_font_type" class="form-label">Luncheon Envelope Card Font Type</label>
                    <select class="form-control" name="luncheon_envelope_card_font_type" required>
                    <option value="Times New Roman">Times New Roman</option>
                            <option value="Courier New">Courier New</option>
                            <option value="Verdana">Verdana</option>
                            <option value="Georgia">Georgia</option>
                            <option value="Palatino">Palatino</option>
                            <option value="Garamond">Garamond</option>
                            <option value="Bookman">Bookman</option>
                            <option value="Comic Sans MS">Comic Sans MS</option>
                            <option value="Trebuchet MS">Trebuchet MS</option>
                            <option value="Arial Black">Arial Black</option>
                            <option value="Impact">Impact</option>
                            <option value="Lucida Sans Unicode">Lucida Sans Unicode</option>
                            <option value="Tahoma">Tahoma</option>
                            <option value="Century Gothic">Century Gothic</option>
                            <option value="Franklin Gothic Medium">Franklin Gothic Medium</option>
                            <option value="Gill Sans">Gill Sans</option>
                            <option value="Lucida Bright">Lucida Bright</option>
                            <option value="Arial Narrow">Arial Narrow</option>
                            <option value="Candara">Candara</option>
                            <option value="Perpetua">Perpetua</option>
                            <option value="Book Antiqua">Book Antiqua</option>
                            <option value="Consolas">Consolas</option>
                            <option value="Monaco">Monaco</option>
                        </select>
                </div>

                <div class="mb-3">
                    <label for="luncheon_envelope_card_font_size" class="form-label">Luncheon Envelope Card Font Size</label>
                    <input type="number" class="form-control" name="luncheon_envelope_card_font_size" required>
                </div>
            </div>
        </div>

        <button type="submit" class="btn btn-primary">Register Event</button>
    </form>
</div>

{% endblock %}